.bottom-bars {
  text-align: center;
  height: 85%;
  /* margin-bottom: 5vmin; */
  margin: auto;
  width: 80vw;
}
.flex-container-main-bars {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

.header-bars {
  font-size: calc(12px + 1.5vh);
  color: #273043;
}
