.generic-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.generic-paragraph {
  text-align: center;
  margin-top: 2%;
  animation: opac 2s ease-in 1 forwards;
}
@keyframes opac {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
