.flex-container-groups {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  /* border: 3px solid rgb(231, 12, 12); */
}

.bottom-bars-groups {
  text-align: center;
  min-height: 100px;
  height: 80%;
  width: 90vw;
  margin-top: 1.5%;
  margin-bottom: 5%;
  /* border: 3px solid rgb(22, 174, 182); */
}

.header-groups {
  font-size: calc(12px + 3.5vh);
  color: #273043;
}

.header-sentence-groups {
  font-size: calc(5px + 2vh);
  /* color: green; */
}
