.col-centered {
  display: flex;
  justify-content: center;
}
.left-sideBut {
  width: 20%;
  float: left;
  margin-left: 200px;
}
.right-sideBut {
  width: 20%;
  float: right;
  margin-right: 200px;
}
body {
  background-image: url("../../../assets/svgBack.svg");
}
