.flex-container-main-top3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  height: 100%;
  width: 100vw;
  /* border: 3px solid rgb(231, 12, 12); */
}

.flex-container-row-top3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-top: 1.5%;
  height: 80%;
  /* border: 3px solid rgb(12, 59, 231); */
}

.flex-container-col-top3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 1%;
  height: 100%;
  width: 20%;
  /* border: 3px solid rgb(18, 216, 64); */
}

.header-top3 {
  font-size: calc(12px + 2vh);
  color: #273043;
  margin-top: 1.5%;
}

.ellipse {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 18%;
  width: 22%;
  border-radius: 50%;
  background-color: #2a9d8f;
  border: 0.5vh solid rgb(3, 3, 3);
  font-weight: bold;
  font-size: 2vh;
  text-shadow: 2px 2px 6px rgba(0, 0, 0);
  color: #fff;
  margin-top: -5%;
  margin-bottom: 5%;
}

.score-text {
  text-shadow: 2px 2px 6px rgba(0, 0, 0);
  font-weight: bold;
  font-size: 4vh;
  line-height: 4vh;
  margin-bottom: 10%;
  color: #ffffff;
}

.inline-block {
  display: inline-block;
}

.img-top3 {
  width: 20%;
  height: 20%;
  margin-bottom: 15%;
}

.icon-crown-top3 {
  width: 30%;
  height: 15%;
  margin-bottom: 5%;
}

.cube-third {
  width: 20vmin;
  height: 5vmin;
  position: relative;
  margin-top: 15%;
  margin-bottom: 0%;
  background: #fdbd27;
}

.cube-third::before {
  content: "";
  display: inline-block;
  background: #bd8f24;
  width: 20vmin;
  height: 20px;
  transform: skewX(-40deg);
  position: absolute;
  top: -20px;
  left: 8px;
}

.cube-third::after {
  content: "";
  display: inline-block;
  background: #6f5619;
  width: 16px;
  height: 5vmin;
  transform: skewY(-50deg);
  position: absolute;
  top: -10px;
  left: 100%;
}

.cube-second {
  width: 20vmin;
  height: 10vmin;
  position: relative;
  margin-top: 15%;
  margin-bottom: 0%;
  background: #0ead69;
}

.cube-second::before {
  content: "";
  display: inline-block;
  background: #0f9058;
  width: 20vmin;
  height: 20px;
  transform: skewX(-40deg);
  position: absolute;
  top: -20px;
  left: 8px;
}

.cube-second::after {
  content: "";
  display: inline-block;
  background: #0d633e;
  width: 16px;
  height: 10vmin;
  transform: skewY(-50deg);
  position: absolute;
  top: -10px;
  left: 100%;
}

.cube-winner {
  width: 20vmin;
  height: 20vmin;
  position: relative;
  margin-top: 15%;
  margin-bottom: 0%;
  background: #2599e7;
}

.cube-winner::before {
  content: "";
  display: inline-block;
  background: #216b9d;
  width: 20vmin;
  height: 20px;
  transform: skewX(-40deg);
  position: absolute;
  top: -20px;
  left: 8px;
}

.cube-winner::after {
  content: "";
  display: inline-block;
  background: #1a5378;
  width: 16px;
  height: 19vh;
  transform: skewY(-50deg);
  position: absolute;
  top: -10px;
  left: 100%;
}
