.header-web {
  font-size: calc(12px + 2vh);
  color: #273043;
  margin-top: 1.5%;
}

.header-web-instruction {
  font-size: calc(7px + 1.8vh);
  color: #273043;
  margin-top: 1.5%;
}

.flex-container-webcam-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  border: 3px solid rgb(235, 12, 12);
}

.item {
  margin-top: 2%;
  border: 3px solid rgb(34, 216, 18);
}

.camera-before {
  height: 49vmin;
  width: 65vmin;
}

.myButton {
  display: block;
  cursor: pointer;
  background-color: var(--light);
  width: calc(20px + 10vw);
  height: calc(20px + 3vh);
  border-radius: 30px;
  font-size: 1vw;
  font-weight: 200;
  color: var(--text);
  background-size: 100% 100%;
  box-shadow: 0 0 0 7px var(--light) inset;
  margin-bottom: 5%;
}

* {
  box-sizing: border-box;
}

:root {
  --background: #e5ffb3;
  --background-accent: #dbf8a3;
  --background-accent-2: #bde66e;
  --light: #000000;
  --dark: #605e5e;
  --text: #ffffff;
}

.mark {
  display: block;
  position: absolute;
  left: calc(50% - 50vmin / 2);
  top: calc(43% - 50vmin / 2);
  height: 50vmin;
  width: 50vmin;
  border-radius: 50%;
  border: 3px solid rgb(255, 255, 255);
}
/* 
.counter-text {
  position: absolute;
  top: 45%;
  left: 48%;
  text-shadow: 2px 2px 6px rgba(0, 0, 0);
  font-weight: bold;
  font-size: 80px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
} */
