.header-web {
  font-size: calc(12px + 2vh);
  color: #273043;
  margin-top: 1.5%;
}

.header-web-instruction {
  font-size: calc(7px + 1.8vh);
  color: #273043;
  margin-top: 1.5%;
}

.flex-container-webcam-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100vw;
  /* border: 3px solid rgb(235, 12, 12); */
}

.item {
  margin-top: 1vh;
  /* border: 3px solid rgb(34, 216, 18); */
}

.camera-before {
  height: 49vmin;
  width: 65vmin;
}

.counter-text {
  position: absolute;
  top: 40%;
  left: 48%;
  text-shadow: 2px 2px 6px rgba(0, 0, 0);
  font-weight: bold;
  font-size: calc(20px + 8vmin);
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.e1-web {
  border: 0.8vmin solid #b7940e;
  background-color: #c0c0c0;
}
.e2-web {
  border: 0.8vmin solid #0c6740;
  background-color: #c0c0c0;
}
.e3-web {
  border: 0.8vmin solid #951b26;
  background-color: #c0c0c0;
}

.singleAnswer-web {
  height: 6vh;
  width: calc(40px + 15vw);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6vmin;
  text-align: center;
  justify-content: center;
  color: white;
  font-size: calc(5px + 1.5vmin);
  text-shadow: 2px 2px 6px rgba(0, 0, 0);
  line-height: 10px;
}

.flex-container-webcam-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: calc(100px + 30vw);
  /* border: 3px solid rgb(235, 12, 68); */
}

a:only-child {
  margin: 0 auto;
}
