node_modules/
config/default.json
client/setupProxy.js
client/node_modules
client/build
client/src/components/game/EdenTesting.js
client/.eslintcache
client/src/components/layouts/css/EdenTesting.css
client/src/components/game/AudioController.js
client/public/question1_1.m4a
client/public/assets/sample/mouseclick.m4a
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/mernTest/v16/.suo
/.vs/mernTest/v16
/.vs/mernTest/v15/.suo
/.vs/mernTest/v15
/.vs/mernTest/config/applicationhost.config
/.vs/mernTest/config
